---
title: JSXGraph Conference
description: Coming soon...
background_image: /uploads/2015/campus-luftbild.jpg
featured_brews:
  - label_image: /uploads/beers/label-1.png
    title: Count Chocula
    link: #
 

_options:
  label_image:
    width: 400
    height: 400
  image:
    width: 600
    height: 1200
---


<h3 class="editable">Our Sponsors:</h3>
<div class="gallery">
	{% for feature in page.featured_brews %}
		<a href="{% include relative-src.html src=feature.link %}">
			<div class="inner-wrapper">
				<img src="{% include relative-src.html src=feature.label_image %}" alt="{{ feature.title }}">
			</div>
			<p class="caption">{{ feature.title }}</p>
		</a>
	{% endfor %}
</div>



<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps_javascript_api_key }}&amp;callback=initMap"></script>
