---
title: JSXGraph Conference - October 2020
description: Coming soon...
background_image: /uploads/2015/campus-luftbild.jpg
sponsors:
  - label_image: /uploads/Sponsors/eu_flag_co_funded_pos_rgb_left.jpg
    title: Erasmus+
    link: https://www.erasmusplus.de/
  - label_image: /uploads/Sponsors/items_logo_blue.png
    title: ITEMS project
    link: https://itemspro.eu/
 - label_image: /uploads/Sponsors/items_logo_red.png
    title: ITEMS project
    link: https://itemspro.eu/

_options:
  label_image:
    width: 400
    height: 400
  image:
    width: 600
    height: 1200
---

<p class="editable">Coming Soon...</p>

<h3 class="editable">Our Sponsors:</h3>
<div class="gallery">
	{% for feature in page.sponsors %}
		<a href="{% include relative-src.html src=feature.link %}">
			<div class="inner-wrapper">
				<img src="{% include relative-src.html src=feature.label_image %}" alt="{{ feature.title }}">
			</div>
			<p class="caption">{{ feature.title }}</p>
		</a>
	{% endfor %}
</div>



